<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Tipo documento</th>
      <th>No documento</th>
      <th>Edad</th>
      <th>Genero</th>
      <th>Direccion</th>
      <th>Municipio</th>
      <th>Telefono</th>
      <th>Aseguradora</th>
      <th>Tipo afiliacion</th>
      <th>Antecedentes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.nombres %></td>
        <td><%= user.apellidos %></td>
        <td><%= user.tipo_documento %></td>
        <td><%= user.no_documento %></td>
        <td><%= user.edad %></td>
        <td><%= user.genero %></td>
        <td><%= user.direccion %></td>
        <td><%= user.municipio %></td>
        <td><%= user.telefono %></td>
        <td><%= user.aseguradora %></td>
        <td><%= user.tipo_afiliacion %></td>
        <td><%= user.antecedentes %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
