<body>
<div class="cont_new" id="">
    <div class="menu" id=""><a href="http://localhost:3000/calendars">
     <%= image_tag '1467509018_Icon_Business_Set_00002_A.png', class: "icono_admision_new2" %><p class="parra">Agenda</p> </a></div>
     <div class="menu" id=""><a href="http://localhost:3000/reports">
    <%= image_tag '1467508472_vector_65_14.png', class: "icono_admision_new2" %><p class="parra">Reportes</p> </a></div>
    <div class="menu" id=""><a href="">
     <%= image_tag '1468874758_gnome-system-config.png', class: "icono_admision_new2" %><p class="parra">Configuracion</p> </a></div>
   </div>

<div class="social">
   <ul style="list-style-type:none">
   <li><a href="http://localhost:3000/">    
   <%= image_tag 'atras.png', class: "atras" %> </a>
   </li>     
   </ul>         
   </div>

<div class="busqueda">
  <label for="ejemplo_email_1">Tipo de Busqueda</label> 
<div class="row">
  <div class="col-xs-2">
  <select class="form-control">
  <option></option>
  <option> No Documento</option>
  <option> Nombre</option>
  <option> No Ingreso</option>
 
   
     </select>
     </div>
     <div class="col-xs-2">
    <input type="text" class="form-control" placeholder="Buscar">     
  </div>
  <a href="http://localhost:3000/stories/new">
  <button type="button" class="btn btn-primary btn-sm"> <%= image_tag 'visualizar.png', class: "ic" %>Buscar Paciente   </button></a>
</div>
<br>
 
  